<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book Appointment</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<div class="wrapper__container">
			<div class="login">
				<form>
					<div class="input-wrapper">
						<label>
							Name<br>
							<input type="text" name="Name" class="name" autocomplete="off" autofocus="autofocus">
						</label>
					</div>
					<div class="input-wrapper no-btn">
						<label>
							System ID<br>
							<input type="number" name="System id" class="system-id">
						</label>
					</div>
					<div class="input-wrapper no-btn">
						<label>
							Email<br>
							<input type="email" name="Email id" class="email">
						</label>
					</div>
					<div class="dropdown">						
						<select name="Query Type" class="dropdown__query">
							<option class="dropdown-content" value=" Select query type">Select query type</option>
							<option class="dropdown-content" value="certi">Certificate related</option>
							<option class="dropdown-content" vaue="Back-log">Back log related</option>
							<option class="dropdown-content" value="Degree">Degree related</option>
						</select>					
					</div>
					<div class="submit">
						<button>Submit</button> 
					</div>
				</form>
			</div>			
		</div>
	</div>
	<script src='https://cdn.slaask.com/chat.js'></script>
	<script>
    _slaask.init('0710bb745f02563cc850a63f6663165e');
	</script>
</body>
</html>